*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: crimson;
}
.container{
    display:flex;
    flex-direction: row;

    width:100%;
}
.children{
    display:flex;
    flex-direction: column;
    
    width: 85%;
    height: 100vh;

    justify-content: space-around;
}
.titulo{
    display:flex;
    justify-content: center;
    text-align: center;
    
    font-family: "press start 2p";
    text-decoration: underline;
}
.box1{
    display:flex;
    align-items: center;
}
#btnMotoserra{
    background-color: transparent;
    animation: idle 3s linear infinite;
    border:none;
    cursor:pointer;
    height: 290px;
}
img{
    height: 330px;
}
.status{
    display:flex;
    flex-direction: column;
    gap:5px;
    font-family: "press start 2p";
    font-size: 25px;
    color:crimson;
}
.butoes{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 30px;
}
button{
    font-family: "press start 2p";
    width: 350px;
    height: 150px;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    font-size: 20px;
    color:crimson;
    cursor:pointer;
}
.divHistorico{
    display:flex;
    align-items:stretch;
    flex-grow: 1;

    border-color: white;
    border-radius: 10px;
    border-width: 5px;
    border-style: outset;
}
#historico{
    display: flex;
    line-height: 29px;
    width: 450px;
    overflow-wrap:break-word;
    align-items: stretch;
    font-family: "press start 2p";
    color:red;
}